.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs-items {
  padding: 10px;
}

.dialogs-items .active {
  color: rgb(117, 54, 48);
}

.dialog {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 5px;
}

.dialog a {
  text-decoration: none;
  color: rgb(33, 59, 75);
  display: block;
}

.messages {
  padding: 10px;
}

.message {
}
